/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section , button{
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family:  Garamond;
}
 
* {
  /* Padding and borders will be subtracted from the content box width, not added to it. */
  box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  /* Make sure the browser knows how to display HTML5 elements */
  display: flex;
}

/*normal background and font*/

html{
	background-size: 100% 100%;
	background-attachment: scroll;	
	background-repeat: no-repeat;
}


body{	
	color: #000000;
	font-family: cursive;
	display: block;
	background-attachment: scroll;	
}

#page-wrapper{
	Width: 87em;
	margin: 0 auto;
    opacity: 1;
	padding: 0 15px;
}


li{
list-style-type: none;
}

.column1 p{
	color: #ffffff;
}

p, a{
	color: #ffffff;
	font-family: cursive;
	font-size: 1.1em;
	text-shadow: 1px 1px #000000;
	font-weight: bold;
}

/*normal background and font*/

/*start - pop up form*/
#signup:hover {
	opacity: 1;
	border: 2px solid;
}

#signup {
	border:1px solid #000000;
	cursor:pointer;
	height:52px;
	width: 40%;
	margin-top:20px;
	margin-bottom: 20px;
	font-size: 1.2em;
	color: #000000;
	text-shadow: 1px 1px #000000;
	font-family: cursive;
	font-weight: bold;
}

.signup{
	border:1px solid #000000;
}

#myModal{
background-image: url("../images/sign-up.jpg");
background-size: cover;
background-position: center;
border: 2px solid;
color: #000000;
text-shadow: 1px 1px #000000;
text-align: left;
}

#myModal p, #myModal span{
	color: #000000;
	font-family: cursive;
	font-size: 1.2em;
}


#myModal form span{
	font-family: cursive;
	font-size: 1.2em;
	
}

#myModal form input{
	width: 100%;
}

/*Close - pop up form*/

/*start - header setting */

#header, #navdiv, #navbutton{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.navbutton{
	color: #000000;
	font-family:   cursive;
	padding-right: 1em;
	padding-left: 0.5em;
	border-radius: 10px;
}

#header h1{
	margin-right: 15em;	
	font-family: cursive;
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
}

#header a{
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	font-family:   cursive;
	font-size: 2em;
	border-radius: 10px;
	padding-left: 0.5em;
}

header a:hover, header a:focus {
	background-color: #ffff99;
}

#header{
	padding: 2em 1em 2em 0.2em;
	margin-top: 0.6em;
}

/*close - header setting */


/* start - footer setting */

footer{
	opacity: 1.0;
	padding: 2em 1em 1em 0.2em;
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

footer a{
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	font-family: cursive;
	font-size: 1.5em;
	border-radius: 10px;
	padding-right: 0.5em;
	padding-left: 0.5em;	
}

footer p{
	font-weight: bolder;
	font-family: cursive;
	font-size: 2em;
	padding-right: 2em;
}

footer h1{
	font-family: cursive;
	font-size: 1.2em;
	font-weight: bold;
	color:#000000;
}

footer a:hover, footer a:focus {
	background-color: #ffff99;
}
/* end - footer setting */


/* start - dropdown menu */
.dropbtn {
    border: none;
    cursor: pointer;
	padding-left: 0.5em;
	padding-right: 1em;
	margin-right: 0.1em;
	font-weight: bolder;
	color: #000000;
	font-weight: bold;
	font-family: cursive;
	font-size: 2em;
	background-color: transparent;
	border-radius: 15px;
	
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffff99;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	background-color: #fff;
    position: absolute;
    width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #cc3300}

.show {display:block;}

/* end - dropdown menu */



/*page specific*/



/*page specific*/


.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.box{
	display: flex;
	flex-direction: column;
}

.column1, .column2{
	width: 40%;
	border: 2px solid #ff0000;
	text-align: center;
	margin: 10px 50px;	
	background-color: #FFF056;
	padding: 20px 15px;
	color: #ffffff;
	background: #ffffff; /* For browsers that do not support gradients */
	background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)); /*Standard*/
}

ul{
	padding-left: 30px;
}

.column1 a, .column2 a{
	color: #ffffff;
	text-decoration: none;
}

.column1, .column2-12{
	text-align: left;
}

#main h3{
	font-size: 2em;
	font-family: cursive;
	font-weight: bold;
	color: #ffffff;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#main h2{
	font-size: 4em;
	font-weight: bold;
	text-align :center;
	color: #ffffff;
	text-shadow: 2px 2px #ffffff;
	padding-bottom: 0.2em;
	font-family: cursive;
}

#main h4{
	font-size: 2.5em;
	text-align :center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px #ffffff;
	padding-bottom: 0.4em;
	padding-top: 0.3em;
	font-family: cursive;
}
#main h5{
	font-size: 2.5em;
	text-align :center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px #ffffff;
	padding-bottom: 0.4em;
	padding-top: 0.3em;
	font-family: cursive;
}
video{
	max-width: 85%;
	margin: 0 auto;
	border: 1.5px solid #ff0000;
	border-radius: 10px;
}


.artist-image{
	max-width: 85%;
	margin: 0 auto;	
	border: 8px solid #ff0000;
	border-radius: 15px;
}

.column2-12{
	display:flex;
	flex-direction: row;
}

.column2-1, .column2-2{
	width: 50%;
	padding: 10px 2px;
	
	
}

a:hover{
	background-color: #66ccff;
}

#main {
	display: flex;
	flex-direction: column;
	text-align: left;
	background: #ffffff; /* For browsers that do not support gradients */
	background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)); /*Standard*/
	padding: 1.5em 1.5em;
	border-radius: 40px;
}

.thumbicon2{
	width: 30px;
	padding: 5px;
}

.thumbicon1{
	width: 100px;
	padding: 5px;
}
