/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section , button{
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family:  Garamond;
}
 
* {
  /* Padding and borders will be subtracted from the content box width, not added to it. */
  box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  /* Make sure the browser knows how to display HTML5 elements */
  display: flex;
}

/*normal background and font*/

html{
	background-size: 100% 100%;
	background-attachment: scroll;	
	background-repeat: no-repeat;
}


body{	
	color: #000000;
	font-family: cursive;
	display: block;
	background-attachment: scroll;	
}

#page-wrapper{
	Width: 87em;
	margin: 0 auto;
    opacity: 1;
    filter: alpha(opacity=100);
	padding: 0 15px;
}


li{
list-style-type: none;
}

p, a{
	font-family: cursive;
	font-size: 1.3em;
}

/*normal background and font*/

/*start - pop up form*/
#signup:hover {
	opacity: 1;
	border: 2px solid;
}

#signup {
	border:1px solid #000000;
	cursor:pointer;
	height:52px;
	width: 40%;
	margin-top:20px;
	margin-bottom: 20px;
	font-size: 1.2em;
	color: #000000;
	text-shadow: 1px 1px #000000;
	font-family: cursive;
	font-weight: bold;
}

.signup{
	border:1px solid #000000;
}

#myModal{
background-image: url("../images/sign-up.jpg");
background-size: cover;
background-position: center;
border: 2px solid;
color: #000000;
text-shadow: 1px 1px #000000;
text-align: left;
}

#myModal form span{
	font-family: cursive;
	font-size: 1.2em;
	
}

#myModal form input{
	width: 100%;
}

/*Close - pop up form*/

/*start - header setting */

#header, #navdiv, #navbutton{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.navbutton{
	color: #000000;
	font-family:   cursive;
	padding-right: 1em;
	padding-left: 0.5em;
	border-radius: 10px;
}

#header h1{
	margin-right: 15em;	
	font-family: cursive;
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
}

#header a{
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	font-family:   cursive;
	font-size: 2em;
	border-radius: 10px;
	padding-left: 0.5em;
}

header a:hover, header a:focus {
	background-color: #ffff99;
}

#header{
	padding: 2em 1em 2em 0.2em;
}

/*close - header setting */


/* start - footer setting */

footer{
	opacity: 1.0;
	padding: 2em 1em 1em 0.2em;
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

footer a{
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	font-family: cursive;
	font-size: 1.5em;
	border-radius: 10px;
	padding-right: 0.5em;
	padding-left: 0.5em;	
}

footer p{
	font-weight: bolder;
	font-family: cursive;
	font-size: 2em;
	padding-right: 2em;
}

footer h1{
	font-family: cursive;
	font-size: 1.2em;
	font-weight: bold;
	color:#000000;
}

footer a:hover, footer a:focus {
	background-color: #ffff99;
}
/* end - footer setting */


/* start - dropdown menu */
.dropbtn {
    border: none;
    cursor: pointer;
	padding-left: 0.5em;
	padding-right: 1em;
	margin-right: 0.1em;
	font-weight: bolder;
	color: #000000;
	font-weight: bold;
	font-family: cursive;
	font-size: 2em;
	background-color: transparent;
	border-radius: 15px;
	
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffff99;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	background-color: #fff;
    position: absolute;
    width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #cc3300}

.show {display:block;}

/* end - dropdown menu */




/*page specific*/

#imageslider {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

 #thumbimage {
  background: #000000;
  border: 5px solid #ff0000;
  padding: 5px 5px;
  margin-top: 10px;
  line-height: 150px;  
  width: 30em;
  height: 35em;
  border-radius: 5em;
  
}

img{
	width: 50%;
	background-color: #ffffff;
	opacity: 0.95;
	border: 1px solid #000000;
	border-radius: 2em;
	float: left;
	margin-right: 25px;
	
}


#page-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 1.5em;
	min-height: 53em;
}

#imagecontent{
	width: 80%;
	padding: 2em 3em;
	text-align: center;
	color: #000000;
	background: #ffffff; /* For browsers that do not support gradients */
	background: linear-gradient(to right, rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)); /*Standard*/
	border: 1px solid #000000;
	border-radius: 5em;
	height: 30%;
	margin: auto 0px auto 50px;
}

#imagecontent h2{
	font-size: 3em;
	font-weight: bold;
	font-family: cursive;
}

#imagedescription{
text-align: left;	
padding: 30px 10px;
}

